<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>
        MOBILE FITNESS JOURNAL
    </title>

    <h1 style="font-family: 'Gilda Display', serif";><center>
        mobile<br>
        f i t n e s s<br>
        journal
    </center>
    </h1>

    <ul class="nav flex-column justify-content-right ">
        <li class="nav-item">
            <a class="nav-link" href="login">Login to your Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="homepage">Return to Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</head>
<body>
<h1>Create a workout below:</h1>
<form th:object="${workout}" method="post"> <!--th:action="@{registration}"-->
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <table id="myTable">
        <tr class="header">
            <th style="width:60%;">Muscle Group Name</th>
            <th style="width:40%;">Exercise</th>
            <th style="width:40%;">Videos</th>
        </tr>
        <tr>
            <td>Core</td>
            <td>Planks</td>
            <td>
            <a href="https://youtu.be/pvIjsG5Svck">Tutorial</a>
            </td>
        </tr>
        <tr>
            <td>Core</td>
            <td>Crunches</td>
            <td>
                <a href="https://youtu.be/pvIjsG5Svck">Tutorial</a>
            </td>
        </tr>
        <tr>
            <td>Core</td>
            <td>Russian Twists</td>
        </tr>
        <tr>
            <td>Upper Body</td>
            <td>Bicep Curls</td>
        </tr>
        <tr>
            <td>Upper Body</td>
            <td>Push Press</td>
        </tr>
        <tr>
            <td>Upper Body</td>
            <td>Push Ups</td>
        </tr>
        <tr>
            <td>Lower Body</td>
            <td>Squats</td>
        </tr>
        <tr>
            <td>Lower Body</td>
            <td>Lunges</td>
        </tr>
        <tr>
            <td>Lower Body</td>
            <td>Deadlifts</td>
        </tr>
    </table>
    <script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>